<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ENGENHATECH</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="auth-body">
    <div class="auth-container">
        <h2>Login</h2>
        <form id="login-form">
            <input type="text" id="username" placeholder="Nome de usuário" required>
            <input type="password" id="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
            <p class="auth-link">Não tem conta? <a href="register">Cadastre-se</a></p>
        </form>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>